/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-building {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 85px;
  height: 85px;
}
.icon-cash {
  background-image: url(sprite.png);
  background-position: -85px 0px;
  width: 85px;
  height: 85px;
}
.icon-clocks {
  background-image: url(sprite.png);
  background-position: 0px -85px;
  width: 85px;
  height: 85px;
}
.icon-docs {
  background-image: url(sprite.png);
  background-position: -85px -85px;
  width: 85px;
  height: 85px;
}
.icon-pig {
  background-image: url(sprite.png);
  background-position: -170px 0px;
  width: 85px;
  height: 85px;
}
