<header>
	<div class="l-container l-container--header">
		<div class="l-table-row">

			<div class="b-logo">
				<a href="#" class="b-logo__href" title="CashBackHouse">
					<img src="img/logo.png" alt="" class="b-logo__icon">
					<span class="b-logo__text b-logo__text--m10px"><b>CashBack</b>House</span>
				</a>
			</div>

			<div class="b-region">
				<select name="region" id="b-region" class="b-region__select">
					<option value="KRD">Краснодар</option>
					<option value="BRN">Барнаул</option>
					<option value="MSK">Москва</option>
				</select>
			</div>
			
			<div class="b-account-block">
				<ul>
					<li><i class="icon-lock"></i><a href="#" class="b-account-block__href">Зарегистрироваться</a></li>
					<li><i class="icon-user"></i><a href="#" class="b-account-block__href">Войти</a></li>
				</ul>	
			</div>

		</div>

	</div>

	<div class="b-main-nav">
		<div class="l-container">
			<nav class="l-table-row">
					<li class="b-main-nav__item b-main-nav__item--active"><a href="#" class="b-main-nav__href">Предложения от застройщиков</a></li>
					<li class="b-main-nav__item"><a href="#" class="b-main-nav__href">О сервисе</a></li>
					<li class="b-main-nav__item"><a href="#" class="b-main-nav__href">Как это работает</a></li>
					<li class="b-main-nav__item"><a href="#" class="b-main-nav__href">Часто задаваемые вопросы</a></li>
					<li class="b-main-nav__item"><a href="#" class="b-main-nav__href">Контакты</a></li>
			</nav>
		</div>
	</div>
</header>