<header>
	<div class="l-container">
		<div class="l-table-row">

			<div class="b-logo">
				<a href="#" class="b-logo__href" title="CashBackHouse">
					<img src="img/logo.png" alt="" class="b-logo__icon">
					<span class="b-logo__text b-logo__text--m10px"><b>CashBack</b>House</span>
				</a>
			</div>

			<div class="b-region">
				<select name="region" id="b-region" class="b-region__select">
					<option value="KRD">Краснодар</option>
					<option value="BRN">Барнаул</option>
					<option value="MSK">Москва</option>
				</select>
			</div>
			
			<div class="b-account-block">
				<ul>
					<li><a href="#" class="b-account-block__href b-account-block__href--reg">Зарегистрироваться</a></li>
					<li><a href="#" class="b-account-block__href b-account-block__href--enter">Войти</a></li>
				</ul>	
			</div>

		</div>
	</div>
</header>