<div class="b-slider">
	<ul id="b-slider" class="b-slider__element">
		<li>
			<img src="pic/main-slider/1.jpg" alt="" class="b-slider__picture">
			<div class="b-slider__label">
				<div class="b-slider__label__top">
					<div class="b-slider__label__wrapper">
						<div class="b-slider__label__header">ЖК <b>Бригантина</b></div>
						<div class="b-slider__label__description">застройщик - девелопмент юг</div>
					</div>
				</div>
				<div class="b-slider__label__bottom">
					<div class="b-slider__label__wrapper">
						<span class="b-slider__label__cashback">кэшбэк</span>
						<span class="b-slider__label__perc">3%</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<img src="pic/main-slider/2.jpg" alt="" class="b-slider__picture">
			<div class="b-slider__label">
				<div class="b-slider__label__top">
					<div class="b-slider__label__wrapper">
						<div class="b-slider__label__header">ЖК <b>Бригантина 2</b></div>
						<div class="b-slider__label__description">застройщик - девелопмент юг 2</div>
					</div>
				</div>
				<div class="b-slider__label__bottom">
					<div class="b-slider__label__wrapper">
						<span class="b-slider__label__cashback">кэшбэк 2</span>
						<span class="b-slider__label__perc">5%</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>