<div class="b-steps" style="background-image: url('pic/steps/1.jpg')">

	<div class="b-steps__wrapper">

		<div class="b-steps__header">
			<b>ЖК “Центральная Аллея”</b>
			<p>- получение сертификата на Кэшбэк</p>
		</div>

		<ul class="b-steps__ul">

			<li style="width: 28%">
				<span class="b-steps__round">1</span>
				<span class="b-steps__text">Ознакомьтесь с уловиями</span>
			</li>
			<li style="width: 23%" class="active">
				<span class="b-steps__round">2</span>
				<span class="b-steps__text">Войдите <br> в сервис</span>
			</li>
			<li style="width: 27%">
				<span class="b-steps__round">3</span>
				<span class="b-steps__text">Заполните личные данные</span>
			</li>
			<li style="width: 22%">
				<span class="b-steps__round">4</span>
				<span class="b-steps__text">Распечатайте сертификат</span>
			</li>

		</ul>

	</div>

</div>