/*-----------------------------------GLOBALS----------------------------------*/
html, body {
	margin:0;
	padding:0;
	width:100%;
	// height:100%;
}
body{
	font-size:0.625em;
}
/*-----------------------------------LAYERS----------------------------------*/
footer {
    max-width:100%;
    min-width:1000px;
    margin:0 auto;
    position:relative;
    margin-top:-140px;
    height:140px;
    font-family: $Tahoma;
    display: block;
    width: 100%;
    background:$DarkBlue2 url('../img/logo-footer.png') center center no-repeat;
}
header{
    display: block;
    width: 100%;
}
.l-container{ width: 998px; overflow: hidden; margin: 0 auto; display: table; padding: 0;
	&--footer{ padding: 47px 20px; }
	&--header{ padding: 33px 20px; }
}
.l-wrap {
	// width:100%;
	// max-width:100%;
	// min-width:1000px;
	// margin:0 auto;
	position:relative; 
	// min-height:100%;
	// height:auto !important;
	height:100%;
	color: #000; 
	text-align: left;
}
.l-empty {
	height:140px;
}
.l-leftcol{
	width:200px;
	float:left;
	position:relative;
}
.l-rightcol{
	width:200px;
	float:right;
	position:relative;
}
.l-centercol{
	margin:0 200px 0 200px;
	position:relative;
	overflow: hidden;
}
.l-table-row{
	display: table-row;
}
.l-clearer{
	clear:both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
/*-----------------------------------BLOCKS----------------------------------*/
.b-block{
	&__h3{ display: block; text-align: center; font-size: 4.4em; font-family: $OpenSans; font-weight: $SemiBold; }
}
.b-logo{ overflow: hidden; display: table-cell; vertical-align: middle; width: 340px;
	&__href{ display: block; overflow: hidden; color: $DarkBlue; }
	&__icon{ display: block; width: 50px; height: 45px; float: left; }
	&__text{ display: inline-block; font-family: $OpenSans; font-weight: $Regular; font-size: 36px; }
	&__text b{ font-weight: $Bold; }
	&__text--m10px { margin: 0 0 0 10px; }
}

.b-region{ display: table-cell; overflow: hidden; vertical-align: middle; padding: 0 0 0 50px; 
	&__select{ font-family: $Tahoma; font-size: 1.5em; color: $Gray; }
}

.b-account-block{ vertical-align: middle; overflow: hidden; display: table-cell;
	ul { display: inline-block; float: right; }
	li { display: inline-block; }
	&__href{ color: $Yellow; text-decoration: none; font-family: $Tahoma; font-size: 1.5em; background:transparent url('../img/icons.png') 2px 2px no-repeat; padding: 0 0 0 20px; margin: 0 0 0 20px; }
	&__href:hover { text-decoration: underline; }
	&__href--reg {  }
	&__href--enter { background-position: 0 -14px; }
}

.b-copyright{ color: $LightBlue; font-size: 1.5em; display: table-cell; vertical-align: middle; }
.b-develop{ display: table-cell; vertical-align: middle; 
	&__href{ font-family: $Tahoma; font-size: 11px; color: $LightBlue; text-decoration: none; display: block; float: right; padding: 30px 0 0 10px; background:transparent url('../img/logo-starcode.png') left top no-repeat; }
}
.b-main-nav{ width: 100%; background: $DarkBlue2; text-align: center;
	&__list{ display: inline-block; }
	&__item{ display: table-cell; 
		&:last-child .b-main-nav__href{ border: none; }
	}
	&__item--active{ background: $NormalBlue; }
	&__href{ border-right: 1px solid $NormalBlue; color: $White; font-family: $OpenSans; font-size: 1.7em; text-decoration: none; padding: 20px 0; display: block; }
	&__href:hover{ background: $NormalBlue; transition: 0.3s; }
}
.b-adv-text{ background:transparent url('../img/adv-text.jpg'); text-align: center;
	&__text{ display: block; text-align: center; vertical-align: middle; text-transform: uppercase; font-size: 3.9em; color: $White; font-family: $OpenSans; font-weight: $SemiBold; padding: 23px 20px;}
}
.b-how-it-work{ display: block; overflow: visible;
	&__list{ display: block; margin-right: -60px; overflow: visible; }
	&__item{ display: block; float: left; width: 20%; position: relative;
		&:after{ content: ' '; display: block; position: absolute; top: 0; right: 13px; width: 34px; height: 100%; background:transparent url('../img/arrow-left.png') center 65px no-repeat; }
		&:last-child:after{ display: none; }
	}
	&__text{ text-align: center; width: 159px; font-size: 13px; color: #000; font-family: $OpenSans; font-weight: $SemiBold; padding-top: 15px; position: relative; }
	&__icon{ display: block; width: 152px; height: 152px; box-sizing: border-box; overflow: hidden; text-align: center; }
	&__icon--dev{  }
}
.b-what-it-is{ background: $LightGray2; height: 505px; position: relative;
	&__image{ display: inline-block; float: left; width: 372px; margin: 0 46px 0 0; }
	&__text{ font-family: $OpenSans; color: $LightGray3; display: table-cell; vertical-align: middle; }
	&__text h3{ color: $Black; font-size: 4.4em; font-weight: $SemiBold; margin: 0 0 0.7em 0; }
	&__text p{ font-size: 1.6em; margin: 0 0 2.6em 0; }
	&__text a{ color: $HrefsColor; text-decoration: none; 
		&:hover{ text-decoration: underline; }
	}
}
.b-faq{ margin: 0 -40px 0 0;
	&__item{ box-sizing: border-box; width: 50%; float: left; padding: 0 20px 0 0; margin: 0 0 30px 0; }
	&__question{ display: block; box-sizing: border-box; padding: 20px; font-family: $OpenSans; font-weight: $Regular; font-size: 1.7em; background: $LightGray; color: $LightBlue2; }
	&__ask{ display: block; box-sizing: border-box; padding: 20px; font-family: $OpenSans; font-weight: $SemiBold; font-size: 1.7em; color: $YellowDark2; background: $YellowDark url('../img/faq-ask.png') 95% top no-repeat; }
}
/*-----------------------------------HOLDERS----------------------------------*/

/*-----------------------------------HELPERS----------------------------------*/
.bordered{
	border:1px solid red;
}
.h-vertical-center{

}