/*-----------------------------------GLOBALS----------------------------------*/
html, body {
	margin:0;
	padding:0;
	width:100%;
	// height:100%;
}
body{
	font-size:0.625em;
}
/*-----------------------------------LAYERS----------------------------------*/
footer {
    margin:0 auto;
    position:relative;
    margin-top:-140px;
    height:140px;
    font-family: $Tahoma;
    display: block;
    width: 100%;
    background:$DarkBlue2 url('../img/logo-footer.png') center center no-repeat;
}
header{
    display: block;
    width: 100%;
}
.l-container{ box-sizing: border-box; padding: 0 20px; width: 980px; overflow: hidden; margin: 0 auto; display: table;
	&--footer{ padding: 47px 20px; }
	&--header{ padding: 33px 20px; }
}
.l-wrap {
	// width:100%;
	// max-width:100%;
	// min-width:1000px;
	// margin:0 auto;
	position:relative; 
	// min-height:100%;
	// height:auto !important;
	height:100%;
	color: #000; 
	text-align: left;
}
.l-empty {
	height:140px;
}
.l-leftcol{
	width:200px;
	float:left;
	position:relative;
}
.l-rightcol{
	width:200px;
	float:right;
	position:relative;
}
.l-centercol{
	margin:0 200px 0 200px;
	position:relative;
	overflow: hidden;
}
.l-table-row{
	display: table-row;
}
.l-col50{
	float: left;
	width: 50%;
	box-sizing: border-box;
	overflow: hidden;
}
.l-clearer{
	clear:both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
/*-----------------------------------BLOCKS----------------------------------*/
.b-block{ display:block; overflow: hidden; margin-bottom: 45px; margin-top: 45px; width: 100%;
	&__h3{ display: block; text-align: center; font-size: 4.4em; font-family: $OpenSans; font-weight: $SemiBold; margin: 0 0 1em 0; }
}
.b-logo{ overflow: hidden; display: table-cell; vertical-align: middle; width: 350px;
	&__href{ display: block; overflow: hidden; color: $DarkBlue; }
	&__icon{ display: block; width: 50px; height: 45px; float: left; }
	&__text{ display: inline-block; font-family: $OpenSans; font-weight: $Regular; font-size: 36px; }
	&__text b{ font-weight: $Bold; }
	&__text--m10px { margin: 0 0 0 10px; }
}

.b-region{ display: table-cell; overflow: hidden; vertical-align: middle; padding: 0 0 0 50px; 
	&__select{ font-family: $Tahoma; font-size: 1.5em; color: $Gray; width: 70%; }
}

.b-account-block{ vertical-align: middle; overflow: hidden; display: table-cell;
	ul { display: inline-block; float: right; }
	li { display: inline-block; }
	&__href{ color: $Yellow; text-decoration: none; font-family: $Tahoma; font-size: 1.5em; background:transparent url('../img/icons.png') 2px 2px no-repeat; padding: 0 0 0 20px; margin: 0 0 0 20px; }
	&__href:hover { text-decoration: underline; }
	&__href--reg {  }
	&__href--enter { background-position: 0 -14px; }
}

.b-copyright{ color: $LightBlue; font-size: 1.5em; display: table-cell; vertical-align: middle; }
.b-develop{ display: table-cell; vertical-align: middle; 
	&__href{ font-family: $Tahoma; font-size: 11px; color: $LightBlue; text-decoration: none; display: block; float: right; padding: 30px 0 0 10px; background:transparent url('../img/logo-starcode.png') left top no-repeat; }
}
.b-main-nav{ width: 100%; background: $DarkBlue2; text-align: center;
	&__list{ display: inline-block; }
	&__item{ display: table-cell; 
		&:last-child .b-main-nav__href{ border: none; }
	}
	&__item--active{ background: $NormalBlue; }
	&__href{ border-right: 1px solid $NormalBlue; color: $White; font-family: $OpenSans; font-size: 1.7em; text-decoration: none; padding: 20px 0; display: block; }
	&__href:hover{ background: $NormalBlue; transition: 0.3s; }
}
.b-adv-text{ background:transparent url('../img/adv-text.jpg'); text-align: center; margin: 0 0 70px 0; 
	&__text{ display: block; text-align: center; vertical-align: middle; text-transform: uppercase; font-size: 3.7em; color: $White; font-family: $OpenSans; font-weight: $SemiBold; padding: 23px 0;}
}
.b-how-it-work{ display: block; overflow: visible;
	&__list{ display: block; margin-right: -50px; overflow: visible; }
	&__item{ display: block; float: left; width: 20%; position: relative;
		&:after{ content: ' '; display: block; position: absolute; top: 0; right: 7px; width: 34px; height: 100%; background:transparent url('../img/arrow-left.png') center 65px no-repeat; }
		&:last-child:after{ display: none; }
	}
	&__text{ text-align: center; width: 159px; font-size: 13px; color: #000; font-family: $OpenSans; font-weight: $SemiBold; padding-top: 15px; position: relative; }
	&__icon{ display: block; width: 152px; height: 152px; box-sizing: border-box; overflow: hidden; text-align: center; }
	&__icon--dev{  }
}
.b-what-it-is{ background: $LightGray2; min-height: 505px; position: relative;
	&__image{ display: block; float: left; width: 372px; margin: 0 46px 0 0; position: relative; bottom: 0; left: 20px; }
	&__text{ font-family: $OpenSans; color: $LightGray3; display: block; margin: 0 0 0 410px; padding: 40px 0 10px 0; }
	&__text h3{ color: $Black; font-size: 4.4em; font-weight: $SemiBold; margin: 0 0 0.7em 0; }
	&__text p{ font-size: 1.6em; margin: 0 0 2.6em 0; }
	&__text a{ color: $HrefsColor; text-decoration: none; 
		&:hover{ text-decoration: underline; }
	}
}
.b-faq{
	&__wrapper{ overflow: hidden; margin-right: -20px; }
	&__item{ box-sizing: border-box; padding: 0 20px 0 0; margin: 0 0 30px 0; }
	&__question{ display: block; box-sizing: border-box; padding: 20px 20px 0 20px; font-family: $OpenSans; font-weight: $Regular; font-size: 1.7em; background: $LightGray; color: $LightBlue2; }
	&__ask{ display: block; box-sizing: border-box; padding: 20px 20px 0 20px; font-family: $OpenSans; font-weight: $SemiBold; font-size: 1.7em; color: $YellowDark2; background: $YellowDark url('../img/faq-ask.png') 95% top no-repeat; }
	p{ padding: 0 0 20px 0; }
}
.b-slider{ display: block; position: relative;
	&__picture{ width: 100%; height: auto; }
	&__element{ min-height: 418px; }
	&__label{ width: 323px; height: 174px; position: absolute; top: 45%; left: 50%; margin: -87px 0 0 -161px; }
	&__label__top{ font-family: $OpenSans; text-transform: uppercase; background: $White; padding: 5px 5px 0 5px; border-top: 1px solid $White; border-right: 1px solid $White; border-left: 1px solid $White; border-radius: 3px 3px 0 0; }
	&__label__bottom{ font-family: $OpenSans; color: $White; text-transform: uppercase; text-align: center; display: block; padding: 0 5px 5px 5px; overflow: hidden; background: $NormalBlue2 url('../img/slider-border.jpg') left top repeat-x; border-bottom: 1px solid $NormalBlue2; border-right: 1px solid $NormalBlue2; border-left: 1px solid $NormalBlue2; border-radius: 0 0 3px 3px; }
	&__label__header{ font-size: 3.2em; line-height: 0.9em; color: $NormalBlue2; padding: 20px 0 0 0; text-align: center; font-family: $OpenSans; font-weight: $Regular; 
		b{ font-weight: $SemiBold;}
	}
	&__label__description{ font-size: 1.2em; color: $LightGray3; padding: 0 0 20px 0; text-align: center; }
	&__label__cashback{ font-family: $OpenSans; display: inline-block; padding: 20px 0 17px 0; font-size: 2em; }
	&__label__perc{ background: $Green; font-size: 2em; padding: 7px; margin: 0 0 0 0.3em; border-radius: 50%; }
	&__label__top &__label__wrapper{ border-top: 1px solid $LightGray4; border-right: 1px solid $LightGray4; border-left: 1px solid $LightGray4; }
	&__label__bottom &__label__wrapper{ border-bottom: 1px solid $DarkBlue3; border-right: 1px solid $DarkBlue3; border-left: 1px solid $DarkBlue3; }
	
	.bx-wrapper{ margin: 0 auto; }
	.bx-wrapper .bx-viewport{ border: 0; left: 0; }
	.bx-wrapper .bx-viewport{ box-shadow: none; }
	.bx-wrapper .bx-pager.bx-default-pager a, .bx-wrapper .bx-pager.bx-default-pager a:hover{ width: 30px; height: 30px; background: transparent url('../img/points-sprite.png') no-repeat; background-position: -30px 0px; }
	.bx-wrapper .bx-pager.bx-default-pager a.active { background:transparent url('../img/points-sprite.png') 0px 0px no-repeat; }
	.bx-wrapper .bx-pager{ padding-top: 0; bottom: 38px; }
	.bx-wrapper .bx-pager .bx-pager-item{ margin: 0 -7px; }

}
.b-team { display: block; overflow: hidden; text-align: center; font-size: 0; margin: 50px 0 -30px 0;
	&__item { display: inline-block; width: 25%; margin: 0 0 30px 0; opacity: 0.7; cursor: pointer; }
	&__item:hover { opacity: 1; }
	&__photo { display: block; margin: 0 0 10px 0 !important; border-radius: 3px; }
	&__descript { font-size: 14px; font-family: $OpenSans; display: block; overflow: hidden; }
	&__descript b { font-size: 1em !important; font-size: 21px !important; font-weight: $SemiBold !important; line-height: 1em !important; }
	&__descript p { font-size: 1em !important; font-size: 14px !important; text-transform: lowercase; line-height: 1em !important; margin: 0 0 10px 0 !important; }
}
.b-offers-form { background: $LightGray; font-family: $Tahoma; margin: 0 0 15px 0;
	&__form { display: table-row; }
	&__item { display: table-cell; padding: 13px 0; vertical-align: middle; text-align: left; }
	&__label { color: $DarkBlue2; font-size: 1.5em; margin: 0 10px 0 0; }
	&__select { color: $Gray; font-size: 1.5em; padding: 3px 5px; }
	&__submit { float: right; display: block; text-align: center; background: $Green; border: 0; color: $White; cursor: pointer; padding: 7px 30px; font-family: $Tahoma; font-size: 1.5em; }
	&__submit:hover { background: $GreenH; }
}
.b-offers-list { display: block; overflow: hidden; 
	&__item { display: block; overflow: hidden; margin: 0 0 60px 0; }
	&__image { width: 60%; float: left; position: relative; box-sizing: border-box;
		&__img { width: 100%; height: auto; }
		&__perc { display:block; position: absolute; top: 50%; left: 50%; width: 140px; height: 140px; opacity: 0.8; background: $Green; margin: -70px 0 0 -70px; border-radius: 50%; }
		&__cashback { display:block; position: absolute; top: 50%; left: 50%; width: 140px; height: 140px; opacity: 1; font-family: $OpenSans; font-weight: $SemiBold; font-size: 24px; text-align: center; color: $DarkBlue2; margin: -70px 0 0 -70px; line-height: 24px; text-transform: uppercase; padding: 40px 0; box-sizing: border-box; }
		&__cashback span { font-weight: $XBold; font-size: 48px; line-height: 40px; }
	}
	&__description { font-size: 1.3em; display: block; float: right; font-family: $OpenSans; width: 40%; padding: 0 0 0 30px; box-sizing: border-box;
		h5 { font-weight: $SemiBold; font-size: 2em; margin: 0 0 1em 0; line-height: 1em; }
		p { line-height: 1.8em; color: $DarkGray; margin: 0 0 1em 0; }
		b { color: $DarkBlue2; font-weight: $Bold; }
		&__develop { display: table; width: 100%; margin: 0 0 1em 0; padding-top: 0.4em;
			b { display: inline-block; width: 100%; }
			ul { display: table-row; }
			li { display: table-cell; width: 20%; text-align: center; border-right: 2px solid $LightGray; }
			li:first-child { text-align: left; width: 45%; }
			li:last-child { text-align: right; width: 35%; border: 0; }
		}
		a { font-family: $OpenSans; font-size: 1em; color: $Black; }
		a:hover { text-decoration: none; }
		a.btn { display: inline-block; background: $Green; color: $White; text-decoration: none; font-weight: $SemiBold; font-size: 1.2em; padding: 10px 30px; border-radius: 3px; }
		a.btn:hover { background: $GreenH; }
	}
	&__more { display: block; text-align: center; position: relative;
		&__href { display: inline-block; border: 4px solid $DarkBlue2;  
			a { color: $DarkBlue2; font-weight: $SemiBold; font-size: 2em; font-family: $OpenSans; text-decoration: none; display: block; padding: 20px 36px; }
			span { border-bottom: 1px dashed $DarkBlue2; }
			a:hover span { border: none; }
		}
		&__terminate { display: block; width: 30%; background:transparent url('../img/terminate.png') center center repeat-x; height: 1px; position: absolute; top: 50%; left: 0; }
		&__terminate--right { left: auto; right: 0; }
	}
}
.b-login { width: 70%; margin: 0 auto;
	&__tabs { margin: 0 0 30px 0;
		ul { display: block; overflow: hidden; }
		.ui-state-active { background: $LightGray; }
		.ui-state-active a { color: $Black; }
		.ui-state-active span { border: 0; }
		&__link { display: block; overflow: hidden; width: 50%; float: left; text-align: center; }
		&__link a { text-decoration: none; padding: 20px 0 30px 0; display: block; color: $HrefsColor; }
		&__link a:focus { outline: none; }
		&__link a span { font-family: $OpenSans; font-weight: $SemiBold; font-size: 3em; border-bottom: 2px dashed $HrefsColor; }
		&__tab { display: block; background: $LightGray; }
	}
	&__note { text-align: center; padding: 0 60px; 
		p { font-family: $OpenSans; font-size: 1.6em; line-height: 1.5em; display: inline-block; margin: 0 0 30px 0; }
		&__back { font-family: $OpenSans; font-weight: $SemiBold; font-size: 1.7em; display: inline-block; text-decoration: none; color: $DarkBlue2; border: 2px solid $DarkBlue2; border-radius: 4px; padding: 5px 25px; }
		&__back:hover { text-decoration: underline; }
	}
	&__form { display: block; padding: 65px; overflow: hidden;
		&__wrapper { display: table; overflow: hidden; width: 100%; box-sizing: border-box; }
		&__item { display: table-row; font-family: $OpenSans; font-weight: $SemiBold; font-size: 2.4em; color: $Black; }
		&__item label { display: table-cell; padding: 0 30px 25px 0; vertical-align: middle; box-sizing: border-box; text-align: right; width: 30%; }
		&__item__input { display: table-cell; vertical-align: middle; width: 70%; box-sizing: border-box; padding: 2px 2px 25px 0; }
		&__item__input input { font-family: $OpenSans; font-weight: $SemiBold; font-size: 1em; color: $Black; padding: 3px 10px; width: 100%; box-sizing: border-box; }
		&__forgot { display: block; width: 70%; float: right; }
		&__forgot a { font-family: $OpenSans; font-weight: $Bold; color: $Black; font-size: 1.5em; margin: 0 0 25px 0; display: inline-block; }
		&__enter { width: 70%; float: right; }
		&__enter input { display: inline-block; border: 0; background:$Green; color: $White; font-family: $OpenSans; font-weight: $SemiBold; padding: 12px 30px; cursor: pointer; font-size: 1.7em; border-radius: 4px; }
		&__enter input:hover { background:$GreenH; }
		&__enter input:focus { outline: none; }
	} 
	
}
/*-----------------------------------HOLDERS----------------------------------*/

/*-----------------------------------HELPERS----------------------------------*/
.bordered{
	border:1px solid red;
}
.h-vertical-center{

}