/*-----------------------------------GLOBALS----------------------------------*/
html, body {
	margin:0;
	padding:0;
	width:100%;
	// height:100%;
}
body{
	font-size:0.625em;
}
/*-----------------------------------LAYERS----------------------------------*/
footer {
    max-width:100%;
    min-width:1000px;
    margin:0 auto;
    position:relative;
    margin-top:-140px;
    height:60px;
    font-family: $Tahoma;
    display: table;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    background:$DarkBlue2 url('../img/logo-footer.png') center center no-repeat;
}
header{
    border: 1px solid red;
    display: table;
    padding: 40px 20px; 
    width: 100%;
    box-sizing: border-box;
}
.l-container{
	width: 998px;
	overflow: hidden;
	margin: 0 auto;
}
.l-wrap {
	max-width:100%;
	min-width:1000px;
	margin:0 auto;
	position:relative; 
	min-height:100%;
	height:auto !important;
	height:100%;
	color: #000; 
	text-align: left;
}
.l-empty {
	height:140px;
}
.l-leftcol{
	width:200px;
	float:left;
	position:relative;
}
.l-rightcol{
	width:200px;
	float:right;
	position:relative;
}
.l-centercol{
	margin:0 200px 0 200px;
	position:relative;
	overflow: hidden;
}
.l-table-row{
	display: table-row;
}
.l-clearer{
	clear:both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
/*-----------------------------------BLOCKS----------------------------------*/
.b-logo{ overflow: hidden; display: table-cell; vertical-align: middle; width: 340px;
	&__href{ display: block; overflow: hidden; border: 1px solid red; color: $DarkBlue; }
	&__icon{ display: block; width: 50px; height: 45px; float: left; }
	&__text{ display: inline-block; border: 1px solid red; font-family: $OpenSans; font-weight: $Regular; font-size: 36px; }
	&__text b{ font-weight: $Bold; }
	&__text--m10px { margin: 0 0 0 10px; }
}

.b-region{ display: table-cell; overflow: hidden; border: 1px solid red; vertical-align: middle; padding: 0 0 0 50px; 
	&__select{ font-family: $Tahoma; font-size: 1.5em; color: $Gray; }
}

.b-account-block{ 
	ul { display: inline-block; float: right; }
	li { display: inline-block; }
	&__href{ color: $Yellow; text-decoration: none; font-family: $Tahoma; font-size: 1.5em; background:transparent url('../img/icons.png') 2px 2px no-repeat; padding: 0 0 0 20px; margin: 0 0 0 20px; }
	&__href:hover { text-decoration: underline; }
	&__href--reg {  }
	&__href--enter { background-position: 0 -14px; }
}

.b-copyright{ color: $LightBlue; font-size: 1.5em; display: table-cell; vertical-align: middle; }
.b-develop{ border: 1px solid red; display: table-cell; vertical-align: middle; 
	&__href{ font-family: $Tahoma; font-size: 11px; color: $LightBlue; text-decoration: none; display: block; float: right; padding: 30px 0 0 10px; background:transparent url('../img/logo-starcode.png') left top no-repeat; }
}
/*-----------------------------------HOLDERS----------------------------------*/

/*-----------------------------------HELPERS----------------------------------*/
.bordered{
	border:1px solid red;
}
.h-vertical-center{

}