/*-----------------------------------FONTS----------------------------------*/

$Tahoma : Tahoma, Geneva, sans-serif;
$OpenSans : 'Open Sans', sans-serif;
$Light : 300;
$Regular : 400;
$SemiBold : 600;
$Bold : 700;


/*-----------------------------------COLORS----------------------------------*/

$LightBlue : #aeb2b7;
$DarkBlue : #35424d;
$DarkBlue2 : #354656;
$Gray : #919396;
$Yellow : #c7ba50;