/*-----------------------------------FONTS----------------------------------*/

$Tahoma : Tahoma, Geneva, sans-serif;
$OpenSans : 'Open Sans', sans-serif;
$Light : 300;
$Regular : 400;
$SemiBold : 600;
$Bold : 700;


/*-----------------------------------COLORS----------------------------------*/

$LightBlue : #aeb2b7;
$LightBlue2 : #77808a;
$NormalBlue : #435362;
$DarkBlue : #35424d;
$DarkBlue2 : #354656;
$Gray : #919396;
$LightGray : #f4f4f4;
$LightGray2 : #efefef;
$LightGray3 : #4d4f52;
$HrefsColor : #859d19;
$Yellow : #c7ba50;
$YellowDark: #c0cd6e;
$YellowDark2: #424625;
$White : #fff;
$Black: #000;